<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<body>
   <table border="1">
     <tr>
        <th>EMPNO</th>
        <th>ENAME</th>
        <th>SAL</th>
        <th>DEPTNO</th>
     </tr>
                  
     <tr th:each = "e : ${pageDetails.lstEmps}">
        <td th:utext = "${e.empno}"></td>
        <td th:utext = "${e.ename}"></td>
        <td th:utext = "${e.sal}"></td>
        <td th:utext = "${e.deptno}"></td>
     </tr>   
   </table>
   
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   <nobr>
      <span th:if = "${pageDetails.isPreviousPageExists}"> <a th:href = "@{/employees?pageNumber={number} (number=${pageDetails.currentPageNumber - 1})}">Prev</a></span>  | 
      <span th:if = "${pageDetails.isNextPageExists}"> <a th:href = "@{/employees?pageNumber={number} (number=${pageDetails.currentPageNumber + 1})}">Next</a> </span>
   </nobr>   
   
   
</body>

</html>